<?xml version="1.0"?>
<model>
  <name>marker20_8cm</name>
  <version>1.0</version>
  <description>
    Aruco marker 20 of 8 cm side length
  </description>
  <author>
    <name>Jordi Pages</name>
    <email>jordi.pages@pal-robotics.com</email>
  </author>
  <sdf version='1.3'>marker20_8cm.sdf</sdf>
</model>


