<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="world"  default="small_office"/>  <!-- empty, small_office, ... (see ../worlds) -->
  <arg name="robot"  default="full"/>          <!-- full, lower_body, foot -->
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find my_world)/models:$(optenv GAZEBO_MODEL_PATH)" />
  <env name="GAZEBO_RESOURCE_PATH" value="$(find turtlebot3_description)/media:$(optenv GAZEBO_RESOURCE_PATH)" />

  <!-- start up world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find my_world)/worlds/my_world.world"/>   
		<arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

</launch>
